    .count {
		border-left: 3px solid #5ABFDB;
		text-indent: 14px;
		font-size: 18px;
		color: rgba(26, 26, 26, 1)
	}
	.bg-purple {
		background: #FFFFFF;
	}
	/* 去除input 蓝色边框/ */
	input {
		outline: none;
	}
	/* 分页 */
	.el-pagination {
		text-align: center;
	}
	.mt-10 {
		margin-top: 10px;
	}
	.mt-20 {
		margin-top: 20px;
	}